/* 
    Document   : docUpload
    Created on : Sep 6, 2013, 12:12:25 AM
    Author     : Griffindor
    Description:
        Purpose of the stylesheet follows.
*/
#uploadContainer{
    font-family: Arial;

    background: #ffffff;
    background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%,color-stop(0%, #ffffff), color-stop(25%, #ffffff), color-stop(78%, #f0f0f0), color-stop(100%, #f0f0f0));
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    background: radial-gradient(ellipse at center, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=1 );

    width: 900px;
    min-height: 700px;
    height: auto;
    margin: auto; 
}
#docuploadTbl{
    padding-top: 20px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 500;
}

td{
    padding: 10px 10px 10px 60px;
}

tr{
    text-align: left;
}

label{
    width: 150px;
    margin-left: 10px;
}

#uploadHeading{
    height: 40px;
    width: 900px;
    margin: auto;
    padding-top: 15px;
    text-align: center;
    font-family: Arial;
    font-size: medium;
    font-weight: 800;
    background: #e3dfd4;
    background: -moz-linear-gradient(top, #e3dfd4 0%, #e3dfd4 16%, #bdb39a 50%, #e3dfd4 79%, #e3dfd4 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #e3dfd4), color-stop(16%, #e3dfd4), color-stop(50%, #bdb39a), color-stop(79%, #e3dfd4), color-stop(100%, #e3dfd4));
    background: -webkit-linear-gradient(top, #e3dfd4 0%, #e3dfd4 16%, #bdb39a 50%, #e3dfd4 79%, #e3dfd4 100%);
    background: -o-linear-gradient(top, #e3dfd4 0%, #e3dfd4 16%, #bdb39a 50%, #e3dfd4 79%, #e3dfd4 100%);
    background: -ms-linear-gradient(top, #e3dfd4 0%, #e3dfd4 16%, #bdb39a 50%, #e3dfd4 79%, #e3dfd4 100%);
    background: linear-gradient(to bottom, #e3dfd4 0%, #e3dfd4 16%, #bdb39a 50%, #e3dfd4 79%, #e3dfd4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3dfd4', endColorstr='#e3dfd4', GradientType=0 );
}

input[type=text],[type=password],[type=email]{
    margin-left: -30px;
    height: 25px;
    width: 300px;
    font-family: arial, verdana, serif;
    font-size: 12px;
    color: #333333;
    vertical-align: middle;
    padding-left: 2px;  
    text-shadow: 0px 1px 0px #fff;  
    -webkit-box-shadow: 0px 0px 10px #81ddf8;  
    -moz-box-shadow: 0px 0px 10px #81ddf8;  
    box-shadow: 0px 0px 10px #81ddf8;
    outline: none;  
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
    border-radius: 3px;  
    border: 3px solid #fafafa; 
    -webkit-transition: .3s ease-in-out;  
    -moz-transition: .3s ease-in-out;
}
select{
    margin-left: -30px;
    height: 25px;
    width: 300px;
    font-family: arial, verdana, serif;
    font-size: 12px;
    color: #333333;
    vertical-align: middle;
    padding-left: 2px;  
    text-shadow: 0px 1px 0px #fff;  
    -webkit-box-shadow: 0px 0px 6px #81ddf8;  
    -moz-box-shadow: 0px 0px 8px #81ddf8;  
    box-shadow: 0px 0px 5px #81ddf8;
    outline: none;  
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
    border-radius: 3px;  
    border: 3px solid #fafafa; 
    -webkit-transition: .3s ease-in-out;  
    -moz-transition: .3s ease-in-out;
}

textArea{
    margin-left: -30px;
    height: 100px;
    width: 300px;
    font-family: arial, verdana, serif;
    font-size: 12px;
    color: #333333;
    vertical-align: middle;
    padding-left: 2px;  
    text-shadow: 0px 1px 0px #fff;  
    -webkit-box-shadow: 0px 0px 6px #81ddf8;  
    -moz-box-shadow: 0px 0px 8px #81ddf8;  
    box-shadow: 0px 0px 5px #81ddf8;
    outline: none;  
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
    border-radius: 3px;  
    border: 3px solid #fafafa; 
    -webkit-transition: .3s ease-in-out;  
    -moz-transition: .3s ease-in-out;
}

.error{
    color: red;
    margin-left: -30px;
}

