/* 
    Document   : main
    Created on : Aug 8, 2013, 9:36:07 PM
    Author     : Griffindor
    Description:
        Purpose of the stylesheet follows.
*/

html,body{
    margin: 0;
    padding: 0;
    background: #e8e9ed;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.hidden{
    display: none;
}

h2{
    margin: 0;
    padding: 0;
}

root { 
    display: block;
}

.container{
    background: #ffffff;
    background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%,color-stop(0%, #ffffff), color-stop(25%, #ffffff), color-stop(78%, #f0f0f0), color-stop(100%, #f0f0f0));
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    background: radial-gradient(ellipse at center, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=1 );

    width: 900px;
    height: 700px;
    margin: auto;  

}

.header{
    background-color: #ffffff;
    height: 42px;
}

.slideShow{
    background: #ffff99;
    height: 200px;
}

.sideMenu{
    background: #ccff99;
    width: 20%;
    height: 800px;
    float: left;
}

.content{
    background: #99ffff;
    height:800px; 
    width: 100%;
    float: left;
}

.footer{
    background: #0033ff;
    height: 50px;
    clear: both;
}

.pageHeader{
    height: 120px;
    width: 900px;
    top: 0;
    left: 0;
    margin: auto;



    background: rgba(227,223,212,1);
    background: -moz-linear-gradient(top, rgba(227,223,212,1) 0%, rgba(227,223,212,1) 28%, rgba(176,162,135,1) 99%, rgba(176,162,135,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227,223,212,1)), color-stop(28%, rgba(227,223,212,1)), color-stop(99%, rgba(176,162,135,1)), color-stop(100%, rgba(176,162,135,1)));
    background: -webkit-linear-gradient(top, rgba(227,223,212,1) 0%, rgba(227,223,212,1) 28%, rgba(176,162,135,1) 99%, rgba(176,162,135,1) 100%);
    background: -o-linear-gradient(top, rgba(227,223,212,1) 0%, rgba(227,223,212,1) 28%, rgba(176,162,135,1) 99%, rgba(176,162,135,1) 100%);
    background: -ms-linear-gradient(top, rgba(227,223,212,1) 0%, rgba(227,223,212,1) 28%, rgba(176,162,135,1) 99%, rgba(176,162,135,1) 100%);
    background: linear-gradient(to bottom, rgba(227,223,212,1) 0%, rgba(227,223,212,1) 28%, rgba(176,162,135,1) 99%, rgba(176,162,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3dfd4', endColorstr='#b0a287', GradientType=0 );

}

@font-face {
    font-family: "Black_rose";
    src: url("../fonts/BLACKR~1.TTF");
}

@font-face {
    font-family: "Barber_shop";
    src: url("../fonts/Barber_shop.ttf");
}

#mainHeading{


    margin-left: 5px;
    margin-top: 40px;
    position: absolute;
    font-family: Barber_shop;
    font-weight: bold;
    color: #833E1C;
    text-shadow: 0px 12px 3px #F8F5A6;
    font-size: 50px;
    margin-left: 110px;
}

.pageFooter{
    width: 900px;
    height:90px;
    margin:auto;
    margin-top: -20px;

    font-family: Arial;
    font-size: 15px;
    background: #E3DFD4;
}

#copyright{
    margin-top: 15px;
    position: absolute;
    margin-left: 15px;
}
#dept{
    margin-top: 20px;
    position: absolute;
    margin-left: 15px;
}
#myemail{
    margin-top: 10px;
    position: absolute;
    margin-left: 700px;
    font-family: Arial;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
}
#blog{
    margin-top: 10px;
    position: absolute;
    margin-left: 800px;
    font-family: Arial;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
}

.sitebutton {

    -moz-box-shadow:inset 0px 0px 23px -13px #bee2f9;
    -webkit-box-shadow:inset 0px 0px 23px -13px #bee2f9;
    box-shadow:inset 0px 0px 23px -13px #bee2f9;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
    background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);

    background-color:#63b8ee;

    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;

    border:1px solid #3866a3;

    display:inline-block;
    color:#14396a;
    width: 120px;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px -1px 0px #7cacde;
}

.sitebutton:hover {

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
    background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);

    background-color:#468ccf;
}

.pageTitle{
    height: 40px;
    width: 900px;
    margin: auto;
    padding-top: 15px;
    text-align: center;
    font-family: Arial;
    font-size: medium;
    font-weight: 800;
    background: #e3dfd4;
    background: -moz-linear-gradient(top, #e3dfd4 0%, #e3dfd4 16%, #bdb39a 50%, #e3dfd4 79%, #e3dfd4 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #e3dfd4), color-stop(16%, #e3dfd4), color-stop(50%, #bdb39a), color-stop(79%, #e3dfd4), color-stop(100%, #e3dfd4));
    background: -webkit-linear-gradient(top, #e3dfd4 0%, #e3dfd4 16%, #bdb39a 50%, #e3dfd4 79%, #e3dfd4 100%);
    background: -o-linear-gradient(top, #e3dfd4 0%, #e3dfd4 16%, #bdb39a 50%, #e3dfd4 79%, #e3dfd4 100%);
    background: -ms-linear-gradient(top, #e3dfd4 0%, #e3dfd4 16%, #bdb39a 50%, #e3dfd4 79%, #e3dfd4 100%);
    background: linear-gradient(to bottom, #e3dfd4 0%, #e3dfd4 16%, #bdb39a 50%, #e3dfd4 79%, #e3dfd4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3dfd4', endColorstr='#e3dfd4', GradientType=0 );
}

#cseIntro{
    margin-top: 100px;
    margin-left: 50px;
    width: 325px;
    height: 185px;
    text-align: left;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 4px solid #000000;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background: #ffffff;
    padding: 10px 10px 10px 10px;
}

#repoIntro{
    margin-top: -215px;
    margin-left: 500px;
    width: 325px;
    height: 185px;
    text-align: left;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 4px solid #000000;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background: #ffffff;
    padding: 10px 10px 10px 10px;
}
