/* 
    Document   : myProfile
    Created on : Sep 15, 2013, 8:11:10 PM
    Author     : Griffindor
    Description:
        Purpose of the stylesheet follows.
*/

#myProfileContainer{

    background: #ffffff;
    background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%,color-stop(0%, #ffffff), color-stop(25%, #ffffff), color-stop(78%, #f0f0f0), color-stop(100%, #f0f0f0));
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    background: radial-gradient(ellipse at center, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=1 );

    width: 900px;
    min-height: 800px;
    margin: auto;
}


input[type=text],[type=password],[type=email]{
    margin-left: 30px;
    height: 25px;
    width: 200px;
    font-family: arial;
    font-size: 12px;
    color: #333333;
    vertical-align: middle;
    padding-left: 2px;  
    text-shadow: 0px 1px 0px #fff;  
    -webkit-box-shadow: 0px 0px 10px #81ddf8;  
    -moz-box-shadow: 0px 0px 10px #81ddf8;  
    box-shadow: 0px 0px 10px #81ddf8;
    outline: none;  
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
    border-radius: 3px;  
    border: 3px solid #fafafa; 
    -webkit-transition: .3s ease-in-out;  
    -moz-transition: .3s ease-in-out;
}

textArea{
    margin-left: 107px;
    width: 200px;
    font-family: arial, verdana, serif;
    font-size: 12px;
    color: #333333;
    text-shadow: 0px 1px 0px #fff;  
    -webkit-box-shadow: 0px 0px 6px #81ddf8;  
    -moz-box-shadow: 0px 0px 8px #81ddf8;  
    box-shadow: 0px 0px 5px #81ddf8;
    outline: none;  
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
    border-radius: 3px;  
    border: 3px solid #fafafa; 
    -webkit-transition: .3s ease-in-out;  
    -moz-transition: .3s ease-in-out;
}


#proPic{
    width: 150px;
    height: auto;
}
.expList ul, li {
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
}
.expList p {
    margin:0;
    display:block;
}
.expList p:hover {
    background-color:#121212;
}
.expList li {
    line-height:150%;
    text-indent:0px;
    background-position: 1px 3px;
    padding-left: 20px;
    background-repeat: no-repeat;
}

/* Collapsed state for list element */
.expList .collapsed {
    background-image: url(../images/ArrowDown.png);
}
/* Expanded state for list element
/* NOTE: This class must be located UNDER the collapsed one */
.expList .expanded {
    background-image: url(../images/ArrowUp.png);
}

#myProfileTbl{
    padding-top: 35px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 500;
}

td{
    padding: 10px 10px 10px 60px;
    height: 20px;
    padding-left: 140px;
}

tr{
    text-align: left;
    
}

#myProfBtn{
    margin-top: 100px;
    margin-bottom: 75px;
    margin-left: 650px;
    left:200px;
}

#proPic{
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 2px solid #363136;

    -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,1);
}

