/* 
    Document   : shareDoc
    Created on : Sep 11, 2013, 11:23:22 PM
    Author     : Griffindor
    Description:
        Purpose of the stylesheet follows.
*/

#docShareContainer{
    background: #ffffff;
    background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%,color-stop(0%, #ffffff), color-stop(25%, #ffffff), color-stop(78%, #f0f0f0), color-stop(100%, #f0f0f0));
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    background: radial-gradient(ellipse at center, #ffffff 0%, #ffffff 25%, #f0f0f0 78%, #f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=1 );

    width: 900px;
    min-height: 700px;
    margin: auto; 
}

select{
    margin-left: -30px;
    height: 25px;
    width: 200px;
    font-family: arial, verdana, serif;
    font-size: 12px;
    color: #333333;
    vertical-align: middle;
    padding-left: 2px;  
    text-shadow: 0px 1px 0px #fff;  
    -webkit-box-shadow: 0px 0px 6px #81ddf8;  
    -moz-box-shadow: 0px 0px 8px #81ddf8;  
    box-shadow: 0px 0px 5px #81ddf8;
    outline: none;  
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
    border-radius: 3px;  
    border: 3px solid #fafafa; 
    -webkit-transition: .3s ease-in-out;  
    -moz-transition: .3s ease-in-out;
}

#docShareTbl{
    padding-top: 15px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 500;
}

td{
    padding: 30px 10px 10px 60px;
}

tr{
    text-align: left;
}

label{
    width: 150px;
    margin-left: 5px;
}

.docShareButton {

    -moz-box-shadow:inset 0px 0px 23px -13px #bee2f9;
    -webkit-box-shadow:inset 0px 0px 23px -13px #bee2f9;
    box-shadow:inset 0px 0px 23px -13px #bee2f9;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
    background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);

    background-color:#63b8ee;

    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;

    border:1px solid #3866a3;

    display:inline-block;
    color:#14396a;
    width: 120px;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px -1px 0px #7cacde;
}

.docShareButton:hover {

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
    background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
    background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);

    background-color:#468ccf;
}
.docShareButton:active {
    position:relative;
    top:1px;
}



