/* 
    Document   : welcomeMsg
    Created on : Sep 7, 2013, 9:49:04 PM
    Author     : Griffindor
    Description:
        Purpose of the stylesheet follows.
*/
.welcomeContainer{
    background-image:url('../images/loginSuccess.png');
    width: 900px;
    height: 485px;
    margin: auto;  
}

@font-face {
    font-family: "Black_rose";
    src: url("../fonts/BLACKR~1.TTF");
}

img.resize{

    width: 150px;
    height: auto;
    margin-left: 100px;
    margin-top: 90px;
}

#welcomeButton{
    margin-left: 675px;
    margin-top: 375px;
}

#heading{
    margin: auto;
    alignment-adjust: central;
    padding-top: 75px;
}

tr{
    alignment-adjust: central;
}
td{
    text-align: center;
    font-family: Arial;
    font-weight: bolder;
    font-size: 48px;
    font-style: italic;
    color: #ffffff;
    text-shadow:0px 0px 0 rgb(228,228,228),-1px 1px 0 rgb(201,201,201),-2px 2px 0 rgb(173,173,173),-3px 3px 0 rgb(146,146,146),-4px 4px 0 rgb(119,119,119), -5px 5px 0 rgb(92,92,92),-6px 6px 5px rgba(0,0,0,0.4),-6px 6px 1px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,.2);

}


